html, body { height: 100%; font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", "Microsoft YaHei UI", "Microsoft YaHei", sans-serif; }
h1, h2, h3, h4, h5, h6 { text-rendering: optimizeLegibility; }
.navbar-brand {
    font-size: 24px;
    padding: 0 15px;
    line-height: 50px;
    font-weight: 500;
    font-family: "Source Sans Pro";
    text-rendering: optimizeLegibility;
}
.navbar-brand img {
    display: inline-block;
}

.user-image, .users-list img {
    background: #ddd;
    border: #eee solid 1px;
}
.auth-clients {
    padding: 0;
}
.auth-clients li {
    margin: 0 13px 0 0;
}
.content-wrapper section {
    padding-left: 0;
    padding-right: 0;
}
.container .jumbotron {
    padding: 3px 20px;
    background: white;
    margin-bottom: 20px;
    border: #ddd solid 1px;
}
.jumbotron p {
    font-size: 14px;
    line-height: 1.8em;
}
.jumbotron p .pull-right {
    margin-top: 5px;
}
.jumbotron h1 {
    font-size: 24px;
}
.jumbotron h2 {
    font-size: 18px;
    line-height: 1.6em;
}
.row { margin: 0 -10px; }
.row > [class*="col-"] { padding: 0 10px; }

.carousel { margin-bottom: 20px;  }
.carousel .carousel-inner {border-radius: 6px; border: #ddd solid 1px;}

.features { border: #ddd solid 1px; border-radius: 6px; padding: 15px; background: white; margin-bottom: 20px; }
.features .media { margin-bottom: 15px; }
.features .media h3 { margin-top: 10px; }
.article { margin: 0; padding: 0; list-style-position: inside; }
.article li { margin: 0; color: #999; border-bottom: #eee dashed 1px; padding: 5px; }
.article li .pull-right { font-size: 12px; }
.article li:last-child { border-bottom: none; }
